:root {
    font-size: 20px;
    scroll-behavior: smooth;
}

[class*="col"] {
    background-color : blue;
    min-height: 50px;
    padding: 10px 10px 10px 10px;
    display: flex;
}

[class*="nest"] {
    background-color : green;
    min-height: 20px;
    
}




h7 {
    color:white;
    text-align: center;
}
